.dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Space Grotesk', sans-serif;
}

.sprint-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Space Grotesk', sans-serif;
}

.sprint-input {
  margin-top: 10px;
}

.dashboard-checkbox[type='checkbox'] + h1 {
  color: rgb(255, 118, 118);
}

.dashboard-checkbox[type='checkbox']:checked + h1 {
  color: rgb(72, 148, 72);
}